<html>
    @include('partials/head')
</html>
<html>
    @include('partials/navigation')

    <h1>Teil pole õigust näha seda lehte!</h1>
    <p>Te pole sisse logitud!</p>
    <a href="{{route('/')}}">Suundu tagasi avalehele</a>
    @include('partials/footer')
</html>