<div>
<h1>Shopping Cart</h1>
{{cartId = session.get('cartId')}}
{{}}

<!-- I need a way to get shopping cart id from the session or something, so I can show the correct cart items -->
<div id="cart-items">
    @each(item in )
        
    @end

</div>

<div>Functions buttons order delete whole cart etc</div>

    
</div>