@include('partials/head')

<body>
    @include('partials/navigation')
    <h1>Orders Management</h1>
    @each(order in orders)
    <div>
        <p>{{order.orderNumber}}</p>
        <a href="{{route('orders.edit', {orderId: order.id})}}">Edit</a>
    </div>
    @endeach

</body>