<html>

<table style="border:2px solid orange; background-color:rgb(197, 197, 197)">
    <tbody>
        <tr style="border-bottom: 2px solid black;">
            <td style="border-bottom: 2px solid black;">
                <h1>{{data.subject}}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <p>Klient võtis ühendust läbi veebilehe kontaktvormi</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Nimi: {{data.name}} Email: {{data.email}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kliendi sõnum: {{data.message}}</p>
            </td>
        </tr>
    </tbody>


</table>
</body>

</html>