<html>

<body>

    <table style="border:2px solid orange; background-color:gray">
        <tbody>
            <tr style="border-bottom: 2px solid black;">
                <td style="border-bottom: 2px solid black;">
                    <h1>Teie tellimus {{order.orderNumber}}</h1>
                </td>
                <td>
                    <img src="/storage/">
                </td>
                
            </tr>
        </tbody>


        @each(orderItem in order.items)
        <tbody style="border:2px outset black; width:100%">
            <tr>
                <td><img src="/storage/uploads/{{orderItem.product.images[0].imageUrl}}" alt="" width="auto"
                        height="64"></td>
            </tr>
            <tr>
                <td>
                    <h4>{{orderItem.product.itemName}}</h6>
                    <p>{{orderItem.product.description}}</p>
                    <br>
                </td>
            </tr>
            <tr>
                <td><small>Tükihind: {{orderItem.unitPrice}} €</small></td>
            </tr>
            <br />
            <tr>
                <td><small>Hind: {{orderItem.totalPrice}} €</small></td>
            </tr>
            <tr>
                <td>
                    <h6 class="mb-0">Kogus: {{orderItem.quantity}}</h6>
                </td>
            </tr>
        </tbody>
        @endeach
        <tbody>
            <tr>
                <td style="border-top: 2px inset black;"><p>Kogu hind: {{order.totalPrice}} €</p></td>
            </tr>
        </tbody>
    </table>
</body>

</html>