<!DOCTYPE html>
<html>

<head>
  @include('partials/head')
  <link rel="stylesheet" href="/resources/css/main.css">
</head>


<body>
  @include('partials/navigation')

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">




    <main class="px-3 container py-3">
      <h1>Teade</h1>
      <h1 class="lead">Leht avaneb varsti!</h1>
    </main>


    <div class="container">

      <!-- Rentals -->
      <div class="mb-5">
        <a href="{{route('rentals.index')}}" class="btn btn-primary btn-lg mb-2">Laenutus</a>

        <div class="d-flex flex-nowrap overflow-auto gap-3 horizontal-scroll">

          @each(rental in rentals)
          @if(rental.isVisible)

          <div class="bg-dark" style="min-width:320px; max-width:320px; --bs-bg-opacity: .2">
            <div class="border rounded shadow-sm h-100 d-flex">

              <div class="p-3 d-flex flex-column flex-grow-1 overflow-hidden">
                <h5 class="mb-2">{{rental.itemName}}</h5>
                <p class="mb-auto small">{{rental.description}}</p>

                <a href="{{route('rentals.show', { slug: rental.slug })}}">
                  Vaata
                </a>
              </div>

              <a href="{{route('rentals.show', { slug: rental.slug })}}">
                <img class="object-fit-cover" height="200" width="150" src="/storage/uploads/{{rental.images[0].imageUrl}}">
              </a>


            </div>
          </div>

          @endif
          @endeach

        </div>
      </div>


      <!-- Handicrafts -->
      <div>
        <a href="{{route('handicrafts.index')}}" class="btn btn-primary btn-lg mb-2">Käsitöö</a>

        <div class="d-flex flex-nowrap overflow-auto gap-3 horizontal-scroll">

          @each(handicraft in handicrafts)
          @if(handicraft.isVisible)

          <div class="bg-dark " style="min-width:320px; max-width:320px; --bs-bg-opacity: .2">
            <div class="border rounded shadow-sm h-100 d-flex">

              <div class="p-3 d-flex flex-column flex-grow-1  overflow-hidden">
                <h5 class="mb-2">{{handicraft.itemName}}</h5>
                <p class="mb-auto small">{{handicraft.description}}</p>

                <a href="{{route('handicrafts.show', { slug: handicraft.slug })}}">
                  Vaata
                </a>
              </div>
                <a href="{{route('handicrafts.show', { slug: handicraft.slug })}}">
                  <img class="object-fit-cover" height="200" width="150"
                src="/storage/uploads/{{handicraft.images[0].imageUrl}}">
                </a>


            </div>
          </div>

          @endif
          @endeach

        </div>
      </div>

    </div>


  </div>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" class="astro-vvvwv3sm"></script>
</body>

</html>